<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278652244495-05idt9k44anqpepetho3l17rrmph3nrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278652244495-05idt9k44anqpepetho3l17rrmph3nrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278652244495-vecjn59pcfa182o0c8hol0jdgv0nqob5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7cp0hoE9kU6JfZ8HUAAwd4jHRsirA1io</string>
	<key>GCM_SENDER_ID</key>
	<string>278652244495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.CODEEXP.TestTaker</string>
	<key>PROJECT_ID</key>
	<string>testtaker-1623668563157</string>
	<key>STORAGE_BUCKET</key>
	<string>testtaker-1623668563157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278652244495:ios:2158e857956401a1b2497a</string>
</dict>
</plist>